%legend
  Levels
- if @levels.any?
  .row-fluid.tableau
    .span12
      .row-fluid.header.levels
        .span3
          Name
        .span3
          State
        .span6
          Actions
      - @levels.each do |level|
        = render 'level',  level: level

.row-fluid
  .span12
    = simple_form_for :level, html: { id: 'level_form', style: 'display: none', class: 'submit-once' } do |f|
      = f.input :name
      %button{type: 'submit', class: 'btn btn-primary'}
        %i.icon-plane
        Launch
      = link_to 'Cancel', '#', class: 'cancel', id: 'cancel_launch_level'
    = link_to '#', class: 'btn btn-large btn-primary', id: 'create_level_button' do
      %i.icon-globe
      Create Level

