%legend
  Levels
- if @levels.any?
  .row.tableau
    .col-md-12
      .row.header.levels
        .col-md-3
          Name
        .col-md-3
          State
        .col-md-6
          Actions
      - @levels.each do |level|
        = render 'level',  level: level

.row
  .col-md-12
    = simple_form_for :level, html: { id: 'level_form', style: 'display: none', class: 'submit-once' } do |f|
      = f.input :name
      %button{type: 'submit', class: 'btn btn-primary'}
        %i.fa.fa-rocket
        Launch
      = link_to 'Cancel', '#', class: 'cancel', id: 'cancel_launch_level'
    = link_to '#', class: 'btn btn-large btn-primary', id: 'create_level_button' do
      %i.fa.fa-globe
      Create Level

