%legend
  Map
.row
  .col-md-8{style: 'text-align: center'}
    %canvas#map(width="750" height="520" style="width: 750px; height: 520px")
  .col-md-4
    #controls
      %h4 Controls
      %ul
        %li
          = link_to "Zoom In", "#", id: "zoom-in"
        %li
          = link_to "Zoom Out", "#", id: "zoom-out"
        %li
          = link_to "center view", "#", id: "center_view"
        - if @level.id == Test::LevelProxy::ID
          = render 'maps/test_level'

    = render 'maps/chat'

    = render 'maps/field'

:coffee
  $ () ->
    Game.main = new Game.Main('map', "#{@level.id}");
    Game.main.init();
