= simple_form_for @user, html: { class: 'form-horizontal' } do |f|
  .fieldset
    %legend
      = @user.username
      = link_to user_path(@user), class: 'pull-right' do
        %li.fa.fa-caret-square-o-right
        Show
    = f.input :name
    = f.input :email, hint: 'not public visible'
    = f.input :password, label: 'Change password'
    = f.input :password_confirmation, label: 'Repeat pasword'
    = f.input :notification, label: 'Email Notification', as: :boolean, hint: 'Stay informed about your agents and the games'
    .form_actions
      = f.submit 'Update', class: 'btn btn-primary btn-large btn-wide'

    .gravatar
      = gravatar_for @user, 120
      = link_to "Change your avatar at Gravatar.com", "http://gravatar.com", target: '_blank'
