%legend
  = @user.username
  - if can? :edit, @user
    = link_to(edit_user_path(@user), class: 'pull-right') do
      %li.icon-pencil
      Edit
.row.detail
  .col-md-2
    = gravatar_for @user, 120
  .col-md-5
    .row.property
      .col-md-4 Name
      .col-md-8= @user.name
    - if @user == current_user
      .row.property
        .col-md-4
          Email
          %span.small
            (not public)
        .col-md-8= @user.email
