%legend
  = @user.username
  - if can? :edit, @user
    = link_to(edit_user_path(@user), class: 'pull-right') do
      %li.fa.fa-pencil
      Edit
.row.detail
  .col-md-2.col-sm-3.col-xs-4
    = gravatar_for @user, 240, 'gravatar img-responsive gravatar-detail'
  .col-md-10.col-sm-9.col-xs-8
    .row.property
      .col-md-2.col-sm-4
        Name
      .col-md-10.col-sm-8
        = @user.name
    - if @user == current_user
      .row.property
        .col-md-2.col-sm-4
          Email
          %span.small
            (not public)
        .col-md-10.col-sm-8
          = @user.email
