!!! html5
%html{:lang => 'en'}
  %head
    %title= "Dawning - #{page_title}"
    %meta{ :charset => "utf-8" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %meta{ 'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :description => "Dawning a game of emeregence"}
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tag
    = yield :javascript
    = javascript_include_tag "application"
    = javascript_include_tag "bind-polyfill" if Rails.env.test?
    //%base{:href => "/admin"}
  %body
    .wrapper
      = render 'shared/navigation'
      = yield :visual
      .main-section
        = render 'shared/alert'
        = yield
      = yield :second_section
      .push
    = render 'shared/footer'
